img {
  width: 10%;
  margin-left: 65%;
  margin-top: 30px;
}

div {
  height: 100%;
  background-color: black;
}
h1 {
  margin: 0;
  color: rgb(0, 238, 255);
  position: relative;
  margin-top: -5%;
  margin-left: 40%;
  transform: translateY(-50%);
  font-size: 40px;
}

.btn {
  text-align: right;
  margin-top: -320px;
}
.btn button {
  margin-top: 150px;
  margin-left: 20px;
}
.stam {
  background-color: aqua;
  font-weight: bold;
}
