<div class="leftpane"><app-aside-user></app-aside-user></div>
<div class="middlepane">
  <h2>Biceps Workouts</h2>

  <h4 class="hh4">10 exercises for bigger biceps</h4>
  <img src="../../../assets/biceps.jpg" width="380" height="432" />

  <h4>1. Incline Dumbbell Hammer Curl</h4>

  <p>
    You rated these curls #1! The incline bench position increases the stretch
    on the long head of the biceps muscle and also locks your body against the
    bench so you can't cheat more weight during reps by rocking backward. An
    added benefit to hammers is that your wrist and elbow are less vulnerable to
    strain than during reps of other curls.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/0IAM2YtviQY"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>2. Incline Inner-Biceps Curl</h4>

  <p>
    This exercise also stretches the long head of the biceps. The more
    horizontal the bench during your workout, the more the long head of the
    muscle will be stretched during reps.
  </p>
  <p>
    These are awesome to add into your isolation workout because they truly
    isolate the biceps muscle!
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/U4-rUhsY304"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>3. Standing Concentration Dumbbell Curl</h4>

  <p>
    Concentration curls place the arm in front of the body with a bent elbow and
    a rotation in the shoulder. While this decreases recruitment of the long
    head, it potentially increases biceps thickness and peak by better
    recruitment of surrounding muscles during your workout.
  </p>
  <p>
    With your free hand on your off leg to support your body weight, when you
    hit failure you can switch over to a hammer grip and burn out a few extra
    reps.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/eQr2aVqrKdo"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>4. EZ-Bar Curl</h4>

  <p>
    A lot of people think the EZ-bar curl is the best all-around addition to
    your biceps workout. It engages both the short and long heads of the biceps
    muscle and for some people it's a lot more comfortable on the joints and
    forearms than a straight barbell!
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/kwG2ipFRgfo"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>5. Wide-Grip Standing Barbell Curl</h4>

  <p>
    This is definitely one of the more common ways to hit this muscle group.
    Taking a wider-than-normal grip will cause you to externally rotate at the
    shoulder, so your upper arm changes its position, prompting more involvement
    from the short head of the biceps muscle.
  </p>
  <p>
    You can overload during your workout by using bands, chains, or a partner
    for forced reps, which you can't do very well using only a dumbbell.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/jnfveKq1i3E"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>6. Zottman Curl</h4>

  <p>
    In this movement, you hold a dumbbell in each hand and have a palms-up
    (supinated) grip on the way up and a palms-down (pronated) grip as you lower
    the weight, so all of your elbow flexors get hit!
  </p>
  <p>
    Some of your elbow flexors act as supinators as well, so rotating the wrist
    and forearm during the curl instead of at the bottom will load up that
    function.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/ZrpRBgswtHs"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>7. Regular-Grip Barbell Curl</h4>

  <p>
    The classic. If you did only this movement in your biceps workout, you would
    still come out ahead.
  </p>
  <p>
    Of course, you can play around with your grip width (as in Exercise 5),
    which may reduce the discomfort that some people experience with a barbell,
    as well as emphasize a different part of the biceps. A narrower grip will
    emphasize the long head of the muscle, while a wider grip will emphasize the
    short head of the muscle.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/WeZLdaLggAo"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>8. Dumbbell Biceps Curl</h4>

  <p>
    Also a classic! Dumbbells allow the wrists to move freely, so most people
    adopt for a slight rotation of the wrist and forearm as they curl, which
    thickens the muscle group.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/ykJmrZ5v0Oo"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>9. Hammer Curl</h4>

  <p>
    The hammer will typically be our strongest curl during a biceps workout.
    This is because all of our elbow flexors are actively involved, and the
    forearm and wrist are in a power position. Doing this movement like a
    concentration curl or preacher curl (on a preacher bench) will minimize
    cheating and maximize muscle recruitment during the workout.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/TwD-YGVP4Bk"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>10. Overhead Cable Curl</h4>

  <p>
    This is a great way to practice your front double biceps pose as you train.
    You can do both cables at once, or alternate between arms!
  </p>
  <p>
    For an alternative arm workout, check out this article and video for some
    sleeve-splitting exercises.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/5_n3gVeGEqc"
  >
  </iframe>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
