<div class="leftpane"><app-aside-user></app-aside-user></div>
<div class="middlepane">
  <h2>Abs Workouts</h2>
  <img src="../../../assets/abs.jpg" width="400" height="400" />

  <p>
    If you’re looking to train your abs, the good news is that there are a huge
    variety of exercises that will help you achieve that goal. Even if you’re
    not doing moves that focus on them directly, the location of your abs means
    that they are worked hard by compound exercises that hit both the upper and
    lower body. Your core is also key to any exercise in which you have to keep
    your body stable, such as static holds like the plank or tricky balancing
    acts like the single-leg Romanian deadlift.
  </p>
  <p>
    Whether your goal is a six-pack or just a little more definition around your
    midsection, compound lifts like squats, overhead presses and deadlifts will
    help get you there, and they’ll build strength all over your body at the
    same time. That said, there’s also room for more focused abs work too,
    especially if you have designs on achieving a cover model-style six-pack.
  </p>
  <p>
    The four-move circuits below provide both isolation exercises and compound
    moves, and the three options target different areas of your abs to ensure
    you’re hitting them from every angle. The first workout concentrates on your
    upper abs, the second focuses on the lower abs, and the final routine works
    the often neglected side abs – or obliques – along with your deeper core
    muscles.
  </p>
  <p>
    Though each circuit works as quick stand-alone abs blast, you can also tack
    them on to the end of your main training session to ensure your abs are
    getting the attention they merit. The really good news is that you don’t
    need access to a gym to complete these workouts, so you can keep pursuing
    your six-pack dream during the COVID-19 lockdown.
  </p>
  <p>
    This is one area of the body that you can absolutely whip into shape at
    home, with minimal equipment required to get you really feeling the burn in
    your midsection. We say minimal, rather than no, equipment, because for the
    workouts below you will need a pull-up bar for moves like the hanging leg
    raise. Bars are affordable and usually easy to find, though during the
    lockdown demand has exceeded supply at times, so check our pick of the best
    pull-up bars for options that are still available. The dumbbell crunch calls
    for a dumbbell, but if you don’t have one then any kind of weight you can
    hold by your chest will do – it doesn’t have to be too heavy.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/2pLT-olgUJs"
  >
  </iframe>
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
