<div class="leftpane"><app-aside-user></app-aside-user></div>
<div class="middlepane">
  <h2>Cardio Workouts</h2>

  <h4 class="hh4">4 Must-Try Cardio Workouts</h4>
  <iframe
    src="https://giphy.com/embed/fU5KQJbieihXicYaZv"
    width="480"
    height="270"
  ></iframe>

  <h4>1. Benefits of an elliptical workout</h4>

  <p>
    Researchers have found that training on the elliptical improves fitness just
    as efficiently as using a StairMaster. They discovered this back in 2004,
    yet the lazy-machine myth lingers. A few years later, another study showed
    that an elliptical can raise your heart rate even more than a treadmill.
  </p>
  <p>
    Newer research has found that the elliptical reduces the load on your joints
    compared to other high-impact activities like running on a treadmill. The
    elliptical is a great option for those seeking a low-impact workout with
    great cardio benefits.
  </p>
  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/ibjvKk93__g"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>2. Boxing</h4>

  <p>
    Boxing offers stress relief and will improve your hand-eye co-ordination,
    balance and reactivity. Not to mention being really fun. While boxing is a
    full-body workout, most of the work will come from your upper body so it’s a
    good one to throw in the mix after a heavy leg day.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/jCTEVKRTuS8"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>3. Swimming</h4>

  <p>
    Swimming is a low-impact activity that blasts fat. You’ll burn around 350
    calories for every half hour of breaststroke. The resistance of the water
    also makes swimming a great way to strengthen your muscles and avoid injury.
    Try a sprint lap followed by two recovery laps to get your heart and legs
    pounding.
  </p>

  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/9D6DluTzcNA"
  >
  </iframe>
  <br />
  <br />
  <br />
  <h4>4. Stairs</h4>

  <p>
    When it comes to standard fitness equipment you'll find in just about every
    gym, a stair-climber is at the top of the list. It's usually somewhere
    between the ellipticals and the treadmills, but the cardio machine can be an
    amazing strength-training tool, too.
  </p>
  <p>
    It's easy enough to use-one never-ending step in front of another-and taking
    the stairs to get your daily steps in is important for weight control and
    building a strong lower body, right? Yes. But there's an art to crafting an
    effective stair-climber workout.
  </p>
  <iframe
    width="420"
    height="315"
    src="https://www.youtube.com/embed/ExB2nnyKrd8"
  >
  </iframe>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
